@model List<UserRolesViewModel>

@{
    var userId = ViewBag.userId;
}
@if (Model.Any() && Model.Count() > 1)
{
    <form method="post">
        <div class="card">
            <div class="card-header">
                <h2>Add or remove roles to this user</h2>
            </div>
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                @for (int i = 0; i < Model.Count; i++)
                {
                    @if (Model[i].RoleName != "Admin")
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                @Model[i].RoleName
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check m-1" style="display:none;">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                        </div>
                    }
                }
            </div>
            <div class="card-footer">
                <input type="submit" value="Update" class="btn btn-primary"
                       style="width:auto" />
                <a asp-action="EditUser" asp-controller="Adminstration" asp-area="identity" asp-route-id="@userId"
                   class="btn btn-primary" style="width:auto">Cancel</a>
            </div>
        </div>
    </form>
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Adminstration" asp-area="identity" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}